<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PlayCare Portal</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&family=Martian+Mono:wght@300&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <div class="login-container">
    <h1>Play<span>Care</span> Login</h1>
    {{{ body }}}
</body>

</html>

<!--<!DOCTYPE html>
<html lang="en">

  <link rel="stylesheet" href="./css/style.css">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PlayCare Portal</title>
</head>

<body>

{{!-- add header here --}}





{{!-- body gets swapped out by views --}}
{{{body}}}



{{!-- add footer here --}}
{{!-- add needed js connections here --}}
</body>

</html>
 !-->