<body>
  <header>
    <h1>PLAY<span>CARE</span></h1>
    <button id="logout" class="btn-no-style">Logout</button>
  </header>

  <main>
    <label>Names:</label>
    <input type="text" id="input-names">
    <button id="add-first-btn">Add Names</button>


    <br><br><br>
    <div>
      <input placeholder="search by first name" id="search-input">
      <button id="search-btn">Search</button>
    </div>

    <table id="table">
      <thead>
        <th>ID</th>
        <th>Names</th>
        <th>Date of admission</th>
        <th>Delete</th>
        <th>Edit</th>
      </thead>
      <tbody>
        {{schedule}}
      </tbody>
    </table>
    <script src="./js/logout.js"></script>
  </main>